<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página de Inicio</title>
</head>
<body>
    <h1>Bienvenido a mi aplicación Django</h1>

    <div>
        <img src="{% static 'img/pizza.avif' %}" alt="Foto" style="width: 300px; height: auto;">
    </div>

    <div>
        <p><strong>Autor:</strong> Camilo Andres Rincon Chavez</p>
    </div>

    <div>
        <p><strong>Ficha:</strong> 2903013</p>
    </div>
</body>
</html>
